<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">
 
    <!-- enable use-expressions -->
	<http auto-config="false" use-expressions="true" entry-point-ref="loginUrlAuthenticationEntryPoint">
 		<headers>
			<cache-control />
		</headers>
		
		<intercept-url pattern="/admin**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/res/**" access="permitAll" />
		<intercept-url pattern="/js/**" access="permitAll" />
		
		<!-- access denied page -->
		<access-denied-handler error-page="/403" />
		
		<logout logout-success-url="/login?logout"  delete-cookies="JSESSIONID"/>
		
		<!-- enable csrf protection -->
		<csrf/>
	
		<custom-filter position="FORM_LOGIN_FILTER" ref="totpFormFilter" />
	</http>
 
	<!-- Select users and user_roles from database -->
	<authentication-manager>
	   <authentication-provider ref='authenticationProvider'>
	   </authentication-provider>
	 </authentication-manager>
	 
	 <beans:bean id="loginUrlAuthenticationEntryPoint" class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
 		<beans:property name="loginFormUrl" value="/login" />
	 </beans:bean>
	  
	<beans:bean id="authenticationProvider" class="com.jasper.users.auth.TOTPAuthenticationProvider">
		<beans:property name="userDetailsService" ref="myUserDetailsService" />
	</beans:bean>
	
	<beans:bean id="authenticationManager" class="org.springframework.security.authentication.ProviderManager">
        <beans:property name="providers">
            <beans:list>
                <beans:ref bean="authenticationProvider"/>
            </beans:list>
        </beans:property>
    </beans:bean>
    
	<beans:bean id="TOTPWebAuthenticationDetailsSource" class="com.jasper.users.auth.TOTPWebAuthenticationDetailsSource">
	</beans:bean>
	
	<beans:bean id="authFailureHandler" class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler">
 		<beans:property name="defaultFailureUrl" value="/login?error"/>
	</beans:bean>
	
	<beans:bean id="totpFormFilter" class="org.springframework.security.web.authentication.UsernamePasswordAuthenticationFilter">
		<beans:property name="authenticationDetailsSource" ref="TOTPWebAuthenticationDetailsSource" />
		<beans:property name="authenticationFailureHandler" ref="authFailureHandler" />
		<beans:property name="authenticationManager" ref="authenticationManager" />
	</beans:bean>
 
</beans:beans>